@model IEnumerable<CrudMVC_SQLite.Models.Aviao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="NovoAviao" class="btn btn-dark">Novo Avião</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadePassageiros)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fabricante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantidadePassageiros)
                </td>
                <td>
                    <a asp-action="AtualizarAviao" asp-route-aviaoId="@item.AviaoId" class="btn btn-dark">Atualizar avião</a>
                    <form asp-action="ExcluirAviao" asp-route-aviaoId="@item.AviaoId">
                        <button type="submit" class="btn btn-dark">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
